
<h1 class="m-3"> Registration </h1>
<form (ngSubmit)="onSubmit()" #contactForm ="ngForm">
    <div class="mb-4">
        <label for="name" class="form-label">Name </label>
        <input type="text" id="name" class="form-control" 
        name="name" [(ngModel)]="model.name" required #name="ngModel">

        <div [hidden]="name.valid || name.pristine" class="alert text-danger"  > this field is required </div>
    </div>
    <div class="mb-4 form-check">
        <label for="checkAdult" class="form-label">are you 18 years old? </label>
        <input type="checkbox" id="checkAdult" class="form-check-input" name="checkAdult" [(ngModel)]="model.checkAdult" required #checkAdult="ngModel">
        <div [hidden]="checkAdult.valid || checkAdult.pristine" class="invalid-feeback alert text-danger"> This field is required </div>
    </div>

    <div class="mb-4">
        <label for="department" class="form-label"> Department</label>
         <select name="department" id="department" class="form-select form-select-sm"
        [(ngModel)]="model.department" #department="ngModel" >
            <option selected>Analitycs</option>
            <option value="marketing">Marketing</option>
            <option value="sales">Sales</option>
            <option value="other">Other</option>
         </select>

        <div [hidden]="department.valid || department.pristine" class="invalid-feeback alert text-danger"> this field is required </div>
    </div>

    <div class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Leave a comment..."
        [(ngModel)]="model.comment" required #comment="ngModel"></textarea>
        <div [hidden]="comment.valid || comment.pristine" class="invalid-feeback alert text-danger"> this field is required </div>
    </div>
    <div class="d-grid gap-2 col-4 float-end">
        <button type="submit" class="btn btn-info btn-lg"> SEND </button>
    </div>
</form>