<div class="container">
    <div class="row">
        <div class="col-md-6 my-3">
            <app-form-new 
            [selection]="selection"
            (updateItemEvent)="updateCity($event)"

            (newItemEvent)="addNewCity($event)" [label]="'City'" 
            [className]="'btn-danger'">
        </app-form-new>
        </div>
        <div class="col-md-8">
            <app-cities  *ngFor="let city of cities"
            (cityDeleteEvent)="onCityDelete($event)"  
            (citySelectedEvent)="onCitySelected($event)" 
            [city]="city" [selection]="selection"></app-cities>
        </div>
        <hr>

        <div class="col-md-4"> 
            <div *ngIf="selection?.name">
                <p > Your city is : {{selection.name}} </p>
                <app-button (click)="onClear()" [color]="'gray'" [label]="'Clean'" ></app-button>
            </div>
        </div>
    </div>   
</div>
